.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  width: 60vw;
  flex-direction: column;
}

.required_fields {
  color: red;
}

@media screen and (max-width: 600px) {
  .agreementBox {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 390px) {
  .agreementBox {
    margin-bottom: 100px;
  }
}
